/* WorkExp.css */
a{
  color: green;
  font-weight:bolder;
}
.text-white {
  color: aliceblue;
  font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }
  

  
  .contact-info h3{
  color: #9b1313;
  }
  
  .summary h3{
  color: purple;

  }
  .objective h3,
  .experience h3 {
    color: #129ada;
    font-size: 24px;
  }
  
  .experience h4 {
    color: #9b1313;
    font-size: 20px;
  }
  
  .experience p,
  .experience li {
    font-size: 16px;
    line-height: 1.6;
  }
  
.skills,
.education,
.references {
  margin-top: 2rem;
}

.skills h3,
.education h3,
.references h3 {
  color: #129ada;
  font-size: 24px;
}

.skills ul,
.skills li,
.education p,
.references p {
  font-size: 16px;
  line-height: 1.6;
}

.skills li,
.education p,
.references p {
  margin-bottom: 0.5rem;
}

.work-experience h3,h4 {
 color: yellow;
}
.links h3,
.additional-info h3{
  color: hotpink;
}

  